#board_full {
  width: 1380px;
  height: 1162px;
  border: 0 solid red;
  position: fixed; }
  #board_full ul > li .clear {
    clear: both; }
  #board_full ul > li #top_row_left {
    width: 224px;
    height: 224px;
    float: left;
    border: 3px solid black;
    background-image: url(http://placekitten.com/224/224); }
  #board_full ul > li .top_row {
    width: 112px;
    height: 224px;
    float: left;
    border: 3px solid black;
    background-image: url(http://placekitten.com/112/224); }
  #board_full ul > li #top_row_right {
    width: 224px;
    height: 224px;
    float: right;
    border: 3px solid black;
    background-image: url(http://placekitten.com/224/224); }
  #board_full ul > li #first_row_left {
    width: 224px;
    height: 112px;
    float: left;
    border: 3px solid black;
    background-image: url(http://placekitten.com/224/112); }
  #board_full ul > li #first_row_right {
    width: 224px;
    height: 112px;
    float: right;
    border: 3px solid black;
    background-image: url(http://placekitten.com/224/112); }
  #board_full ul > li #second_row_left {
    width: 224px;
    height: 112px;
    float: left;
    border: 3px solid black;
    background-image: url(http://placekitten.com/224/112); }
  #board_full ul > li #second_row_right {
    width: 224px;
    height: 112px;
    float: right;
    border: 3px solid black;
    background-image: url(http://placekitten.com/224/112); }
  #board_full ul > li #third_row_left {
    width: 224px;
    height: 112px;
    float: left;
    border: 3px solid black;
    background-image: url(http://placekitten.com/224/112); }
  #board_full ul > li #third_row_right {
    width: 224px;
    height: 112px;
    float: right;
    border: 3px solid black;
    background-image: url(http://placekitten.com/224/112); }
  #board_full ul > li #fourth_row_left {
    width: 224px;
    height: 112px;
    float: left;
    border: 3px solid black;
    background-image: url(http://placekitten.com/224/112); }
  #board_full ul > li #fourth_row_right {
    width: 224px;
    height: 112px;
    float: right;
    border: 3px solid black;
    background-image: url(http://placekitten.com/224/112); }
  #board_full ul > li #fifth_row_left {
    width: 224px;
    height: 112px;
    float: left;
    border: 3px solid black;
    background-image: url(http://placekitten.com/224/112); }
  #board_full ul > li #fifth_row_right {
    width: 224px;
    height: 112px;
    float: right;
    border: 3px solid black;
    background-image: url(http://placekitten.com/224/112); }
  #board_full ul > li #sixth_row_left {
    width: 224px;
    height: 112px;
    float: left;
    border: 3px solid black;
    background-image: url(http://placekitten.com/224/112); }
  #board_full ul > li #sixth_row_right {
    width: 224px;
    height: 112px;
    float: right;
    border: 3px solid black;
    background-image: url(http://placekitten.com/224/112); }
  #board_full ul > li #bottom_row_left {
    width: 224px;
    height: 224px;
    float: left;
    border: 3px solid black;
    background-image: url(http://placekitten.com/224/224); }
  #board_full ul > li .bottom_row {
    width: 112px;
    height: 224px;
    float: left;
    border: 3px solid black;
    background-image: url(http://placekitten.com/112/224); }
  #board_full ul > li #bottom_row_right {
    width: 224px;
    height: 224px;
    float: right;
    border: 3px solid black;
    background-image: url(http://placekitten.com/224/224); }
