#content ul {
  text-align: center; }
  #content ul li {
    display: inline-block;
    font-size: 24px;
    margin: 0 20px; }
#content h2 {
  padding: 10px; }
#content p {
  float: left;
  padding: 10px; }
  #content p:nth-of-type(1) {
    margin-left: 35px; }

.matthew, .katie, .anthony {
  width: 300px;
  float: left;
  background-color: blue;
  margin: 5px; }

.matthew {
  margin-left: 20px; }
