#board_full {
  width: 1168px;
  height: 1168px;
  border: 10px solid red;
  ul > li {
    #top_row_left {
      width: 224px;
      height: 224px;
      float: left;
      background-image: url(http://placekitten.com/224/224);
    }
    .top_row {
      width: 112px;
      height: 224px;
      float: left;
      background-image: url(http://placekitten.com/112/224)
    }
    #top_row_right {
      width: 224px;
      height: 224px;
      float: right;
      background-image: url(http://placekitten.com/224/224)
    }
    #second_row_left {
      width: 224px;
      height: 112px;
      float: left;
      background-image: url(http://placekitten.com/224/112)

    }
    #second_row_right {
      width: 224px;
      height: 112px;
      float: left;
      background-image: url(http://placekitten.com/224/112)
    }
  }
}


