#cont_left {
  float: left;
  width: 400px;
  text-align: center;
  border-right: 1px dotted black;
  padding-left: 10px;
  padding-right: 70px;
}

#cont_right {
  float: right;
  width: 400px;
  text-align: center;
}

.clear {
  clear: both;
}

#outside_wrapper {
    #wrapper {
      #main {
        #cont_left {
          img {
            width: 200px;
            height: auto;
          }
        }
      }
    }
  }

#outside_wrapper {
    #wrapper {
      #main {
        #cont_right {
          .img_cont {
          img {
            width: 200px;
            height: auto;
          }
          }
        }
      }
    }
  }


