!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: '../css/board.css'}
  %body
    %header
      #logo
        %img{src: '#'}
    %nav
      %ul
        %li
          %a{href: '#'} Home
        %li
          %a{href: '#'} Board
        %li
          %a{href: '#'} Pieces
        %li
          %a{href: '#'} Cards
        %li
          %a{href: '#'} FAQ
        %li
          %a{href: '#'} Contact Us

    #left_top
    %table{class: 'vertical'}
      %tr
        %td
        %td
        %td
        %td
        %td
        %td

    #right_top
    %table{class: 'horizontal'}
      %tr
        %td
      %tr
        %td
      %tr
        %td
      %tr
        %td
      %tr
        %td
      %tr
        %td
    #right_bottom
    %table{class: 'vertical'}
      %tr
        %td
        %td
        %td
        %td
        %td
        %td
    #left_bottom
    %table{class: 'horizontal'}
      %tr
        %td
      %tr
        %td
      %tr
        %td
      %tr
        %td
      %tr
        %td
      %tr
        %td
    %footer
      %small Nashopoly &copy; 2013




