!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: '../css/reset.css'}
    %link{rel: 'stylesheet', href: '../css/board.css'}
    %link{rel: 'stylesheet', href: '../css/style.css'}
  %body
    %header
      #logo
        %img{src: '#'}
    %nav
      %ul
        %li
          %a{href: '#'} Board
        %li
          %a{href: '#'} Pieces
        %li
          %a{href: '#'} Cards
        %li
          %a{href: '#'} FAQ
        %li
          %a{href: '#'} Contact Us

    #board_full
      %ul
        %li
          #top_row_left
          .top_row
          .top_row
          .top_row
          .top_row
          .top_row
          .top_row
          #top_row_right
        %li
          #second_row_left
          #second_row_right


    %footer
      %small Nashopoly &copy; 2013




