!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: '../css/normalize.css'}
    %link{rel: 'stylesheet', href: '../css/style.css'}
    %link{rel: 'stylesheet', href: '../css/pieces.css'}
  %body
    %header
      #logo
        %img{src: '#'}
    %nav
      %ul
        %li
          %a{href: '#'} Board
        %li
          %a{href: '#'} Pieces
        %li
          %a{href: '#'} Cards
        %li
          %a{href: '#'} FAQ
        %li
          %a{href: '#'} Contact Us

    #main
      %h1 These are our pieces
      #cont_left

        %img{src: '../images/Chance.png'}

        %img{src: '../images/Chance.png'}

        %img{src: '../images/Chance.png'}

        %img{src: '../images/Chance.png'}

        %img{src: '../images/Chance.png'}

      #cont_right

        %img{src: '../images/Chance.png'}

        %img{src: '../images/Chance.png'}

        %img{src: '../images/Chance.png'}

        %img{src: '../images/Chance.png'}

        %img{src: '../images/Chance.png'}


    .clear


    %footer
      %small Nashopoly &copy; 2013