!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly | Contact
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %header
      #logo
        %img{src: '#'}
    %nav
      %ul
        %li
          %a{href: '#'} Board
        %li
          %a{href: '#'} Pieces
        %li
          %a{href: '#'} Cards
        %li
          %a{href: '#'} FAQ
        %li
          %a{href: '#'} Contact Us
    #main
      %h1 Contact Us
      %ul
        %li
          %a{href: '#'} Link

        %li
          %a{href: '#'} Link

        %li
          %a{href: '#'} Link

        %li
          %a{href: '#'} Link

        %li
          %a{href: '#'} Link

      %h2 We're happy to help!
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, harum ducimus id sunt sint accusantium. Nam temporibus illum sequi voluptatibus labore repellendus similique eius aperiam officia? Nihil accusantium natus voluptatum!

      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, harum ducimus id sunt sint accusantium. Nam temporibus illum sequi voluptatibus labore repellendus similique eius aperiam officia? Nihil accusantium natus voluptatum!

      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, harum ducimus id sunt sint accusantium. Nam temporibus illum sequi voluptatibus labore repellendus similique eius aperiam officia? Nihil accusantium natus voluptatum!



    %footer
      %small Nashopoly &copy; 2013