!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly | Contact
    %link{rel: 'stylesheet', href: '../css/normalize.css'}
    %link{rel: 'stylesheet', href: '../css/style.css'}
    %link{rel: 'stylesheet', href: '../css/contact.css'}
  %body

    %header
      %img{src: '../images/Header.png'}
    %nav
      %ul
        %li
          .nav_button1
            %a{href: '../html/board.html'} Board
        %li
          .nav_button2
            %a{href: '../html/pieces.html'} Pieces
        %li
          .nav_button3
            %a{href: '../html/cards.html'} Cards
        %li
          .nav_button4
            %a{href: '../html/faq.html'} FAQ
        %li
          .nav_button5
            %a{href: '../html/contact.html'} Contact Us
    #outside_wrapper
      #wrapper
        #content
          %h1 Contact Us
          %ul
            %li
              %a{href: '#'} Link

            %li
              %a{href: '#'} Link

            %li
              %a{href: '#'} Link

            %li
              %a{href: '#'} Link

            %li
              %a{href: '#'} Link

          %h2 We're happy to help!
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, harum ducimus id sunt sint accusantium. Nam temporibus illum sequi voluptatibus labore repellendus similique eius aperiam officia? Nihil accusantium natus voluptatum!

          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, harum ducimus id sunt sint accusantium. Nam temporibus illum sequi voluptatibus labore repellendus similique eius aperiam officia? Nihil accusantium natus voluptatum!

          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, harum ducimus id sunt sint accusantium. Nam temporibus illum sequi voluptatibus labore repellendus similique eius aperiam officia? Nihil accusantium natus voluptatum!



    %footer
      %small Nashopoly &copy; 2013