!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: '../css/normalize.css'}
    %link{rel: 'stylesheet', href: '../css/style.css'}
    %link{rel: 'stylesheet', href: '../css/pieces.css'}
  %body
    %header
      #logo
        %img{src: '#'}
    %nav
      %ul
        %li
          %a{href: '#'} Board
        %li
          %a{href: '#'} Pieces
        %li
          %a{href: '#'} Cards
        %li
          %a{href: '#'} FAQ
        %li
          %a{href: '#'} Contact Us

    #main
      %h1 These are our pieces
      #cont_left

        .img_cont
          %img{src: 'http://placekitten.com/200/200'}
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, deleniti labore maiores repudiandae corrupti. Omnis, incidunt, quia, enim sunt praesentium laboriosam labore commodi nemo possimus maxime aspernatur necessitatibus unde vero.

        .img_cont
          %img{src: 'http://placekitten.com/200/200'}
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, deleniti labore maiores repudiandae corrupti. Omnis, incidunt, quia, enim sunt praesentium laboriosam labore commodi nemo possimus maxime aspernatur necessitatibus unde vero.

        .img_cont
          %img{src: 'http://placekitten.com/200/200'}
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, deleniti labore maiores repudiandae corrupti. Omnis, incidunt, quia, enim sunt praesentium laboriosam labore commodi nemo possimus maxime aspernatur necessitatibus unde vero.

        .img_cont
          %img{src: 'http://placekitten.com/200/200'}
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, deleniti labore maiores repudiandae corrupti. Omnis, incidunt, quia, enim sunt praesentium laboriosam labore commodi nemo possimus maxime aspernatur necessitatibus unde vero.

      #cont_right

        .img_cont
          %img{src: 'http://placekitten.com/200/200'}
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, deleniti labore maiores repudiandae corrupti. Omnis, incidunt, quia, enim sunt praesentium laboriosam labore commodi nemo possimus maxime aspernatur necessitatibus unde vero.

        .img_cont
          %img{src: 'http://placekitten.com/200/200'}
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, deleniti labore maiores repudiandae corrupti. Omnis, incidunt, quia, enim sunt praesentium laboriosam labore commodi nemo possimus maxime aspernatur necessitatibus unde vero.

        .img_cont
          %img{src: 'http://placekitten.com/200/200'}
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, deleniti labore maiores repudiandae corrupti. Omnis, incidunt, quia, enim sunt praesentium laboriosam labore commodi nemo possimus maxime aspernatur necessitatibus unde vero.

        .img_cont
          %img{src: 'http://placekitten.com/200/200'}
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, deleniti labore maiores repudiandae corrupti. Omnis, incidunt, quia, enim sunt praesentium laboriosam labore commodi nemo possimus maxime aspernatur necessitatibus unde vero.




    %footer
      %small Nashopoly &copy; 2013